# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
.env*
*egg-info/

# MLflow
mlflow-data/
mlruns/

# Data files
*.csv
*.parquet
*.db

# Airflow
logs/
airflow.db
airflow.cfg
airflow-webserver.pid

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
*.log
